.navBarMobile {
  position: absolute;
  position: fixed;
  display: flex;
  flex-direction: column;
  top: 0;
  right: 0vw;
  align-items: center;
  opacity: 1;
  height: auto;
  backdrop-filter: blur(10px);
  background-color: rgb(235, 235, 235, 0.15);
  border: solid 1px rgb(235, 235, 235, 0.2);
  box-shadow: 0 0 2vw 0.1vw rgba(141, 141, 141, 0.2);
  border-radius: 2vw;
  padding-inline: 2vw;
  padding-block: 4vh;
  gap: 3vh;
  cursor: initial !important;
  z-index: 2;
}

.shortcutsMobile {
  display: flex;
  flex-direction: row;
  align-items: center;
  cursor: pointer;
}

.navBarMobile h3 {
  display: none;
}

.navBarMobile img {
  height: auto;
  width: 5vw;
}

#homeMobile {
  scale: 1.2;
}

@media screen and (min-width: 800px) {
  .navBarMobile {
    display: none;
  }
}
