
#container {
    outline: 1px solid transparent;
    position: absolute;
    left:50%;
    top:50%;
    margin-left: -250px;
    margin-top: -265px;
    height: 537px;
    width: 500px;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    transform-style: preserve-3d;
    background: url('../../assets/img/IanPicture_noWhite.png') no-repeat;
    transform: translateZ(0px);
    -moz-transform: translateZ(0px);
    -webkit-transform: translateZ(0px);
}

.figure{
width: 142px;
height: 483px;
background: url('../../assets/img/IanPicture_noWhite.png') no-repeat;
position: absolute;
transform: translateZ(120px);
-moz-transform: translateZ(120px);
-webkit-transform: translateZ(120px);
bottom: 0px;
left: 50%;
margin-left: -71px;
}

.gsap {
outline: 1px solid transparent;
width: 396px;
height: 128px;
background: url('http://zadesigns.com/tron/GSAP.png') no-repeat;
position: absolute;
transform: translateZ(60px);
-moz-transform: translateZ(60px);
-webkit-transform: translateZ(60px);
top: 30px;
left: 50%;
margin-left: -198px;
}
.tagline {
  width:500px;
  outline: 1px solid transparent;
  position: absolute;
  transform: translateZ(80px);
  -moz-transform: translateZ(80px);
  -webkit-transform: translateZ(80px);
  bottom: 0px;
  left:50%;
  margin-left:-280px;
  padding-left: 30px;
  padding-right: 30px;
  background: rgba(0,0,0,0.6);
  font-family: Arial, Helvetica, "Helvetica-Neue", san-serif;
  color: #FFF;
  font-size: 30px;
  line-height: 60px;
  text-align:center;
  color: #F9E48B;
  text-transform: uppercase;

}