#container {
  outline: 1px solid transparent;
  height: 16.5vw;
  width: 16vw;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  transform-style: preserve-3d;
  background: url("../../assets/img/IanPicture_noWhite.png");
  background-size: cover;
  transform: translateZ(0px);
  -moz-transform: translateZ(0px);
  -webkit-transform: translateZ(0px);
}

.tagline {
  position: absolute;
  transform: translateZ(80px);
  -moz-transform: translateZ(80px);
  -webkit-transform: translateZ(80px);
  bottom: 3vw;
  left: 11vw;
  text-align: center;
  font-size: 0.7vw;
  color: #3b5e91;
  font-weight: 800;
  background-color: rgba(235, 235, 235, 0.65);
  border: solid 1px rgb(235, 235, 235, 0.2);
  border-radius: 0vw 1vw 1vw 1vw;
  box-shadow: 0 0 2vw 0.1vw rgba(141, 141, 141, 0.2);
  padding: 0.5vw;
}
