body {
  overflow: hidden;
  margin: 0;
  padding: 0;
  min-width: 100vw;
  box-sizing: border-box;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: 300% 300%;
  background-image: linear-gradient(
    -45deg,
    rgb(206, 201, 145) 0%,
    rgb(120, 136, 216) 25%,
    rgb(215, 125, 125) 51%,
    rgb(255, 255, 255) 100%
  );
  animation: AnimateBG 20s ease infinite;
}

@keyframes AnimateBG {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.App {
  align-items: center;
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  background-image: url(./assets/img/desk01.png);
  background-size: cover;
}

@font-face {
  font-family: CenturyGothic;
  src: url(./assets/font/CenturyGothic.ttf);
}

@font-face {
  font-family: gothicb;
  src: url(./assets/font/gothicb.ttf);
}

* {
  font-family: CenturyGothic, "Roboto", "sans-serif";
}

/*-------------- CARDS -------------- */
#fullCard {
  margin-right: 1vw;
  rotate: 0deg;
  height: auto;
  width: 12vw;
  display: flex;
  flex-direction: column;
  background-color: rgb(229, 229, 229);
  border-radius: 2vw;
  box-shadow: 1vh 2vh 5vh rgb(105, 105, 105);
  transform: translate(0px, 100vh);
  opacity: 0;
}

#video {
  clip-path: inset(1.8px 0px);
  margin: auto;
  width: 85%;
  height: 50%;
  margin-top: 10%;
  border-radius: 0.5vw;
}

#projetID {
  font-size: 0.6vw;
  color: rgb(128, 3, 3);
  margin: 0;
  margin-top: 5%;
  font-family: gothicb, "Roboto", "sans-serif";
  text-align: left;
  letter-spacing: -0.04rem;
}

#fullCard h4 {
  font-size: 0.7vw;
  color: rgb(50, 50, 50);
  margin: 0;
  margin-top: 8%;
  font-family: gothicb, "Roboto", "sans-serif";
  text-align: left;
  padding-left: 10%;
}
#fullCard p {
  font-size: 0.55vw;
  margin: 0;
  padding-left: 10%;
  padding-right: 10%;
  text-align: left;
  line-height: normal;
  height: 100%;
}

.links {
  display: flex;
  width: 100%;
  height: 100%;
  margin-bottom: 10%;
  align-items: flex-end;
  justify-content: center;
  gap: 10%;
}

.links img {
  scale: 0.8;
  width: 1.5vw;
}

.fullcardImg {
  margin: 3%;
  width: 10%;
  height: auto;
}

.allCards {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  width: 100vw;
  height: 100vh;
}

/*-------------- TITLE BAR -------------- */

.titleBar {
  position: relative;
  width: 30vw;
  height: 20%;
  background-color: rgb(235, 235, 235, 0.9);
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  box-shadow: 1vh 2vh 5vh rgb(141, 141, 141);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0;
  transform: translate(0, -20vh);
  background-image: url(./assets/img/desk01.png);
  background-size: cover;
}

.titleBar h1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  font-size: 150%;
  margin: 0;
  margin-top: 1.5vh;
}

.nameAnim {
  position: absolute;
  transform: translate(10%, -50%);
  opacity: 0;
  scale: 1.5;
  z-index: 3;
}

.titleBar p {
  font-size: 100%;
  margin-top: 0;
  color: rgb(128, 3, 3);
  font-family: gothicb, "Roboto", "sans-serif";
  text-align: center;
}

.titleBar img {
  width: 5%;
  margin-top: 1.5vh;
  filter: sepia(20%);
}

.logos {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5vw;
}

.titleBar a:link {
  text-decoration: none;
  color: rgb(50, 50, 50);
}

.titleBar a:visited {
  text-decoration: none;
  color: rgb(50, 50, 50);
}

.titleBar a:active {
  text-decoration: none;
  color: rgb(50, 50, 50);
}

.eachLogo {
  opacity: 1;
}

@media screen and (max-width: 1200px) {
  body {
    overflow-y: auto;
    background-size: 600% 600%;
  }

  .App {
    align-items: center;
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 150vh;
    justify-content: center;
    background-image: url(./assets/img/desk01.png);
    background-size: cover;
  }
  .titleBar {
    top: 55px;
    width: 70vw;
    height: 10%;
    transform: translate(0, -20vh);
    background-image: none;
  }
  .titleBar img {
    width: 7%;
    margin-top: 1vh;
    filter: sepia(20%);
  }
  #fullCard {
    margin-right: 1vw;
    rotate: 0deg;
    height: auto;
    width: 60vw;
    display: flex;
    flex-direction: row;
    background-color: rgb(229, 229, 229);
    border-radius: 2vw;
    box-shadow: 1vh 2vh 5vh rgb(105, 105, 105);
    transform: translate(0px, 100vh);
    opacity: 0;
    background-image: url(./assets/img/desk01.png);
    background-size: cover;
  }
  .allCards {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap:2vh
  }
  #video {
    clip-path: inset(1.8px 0px);
    margin-left: 1%;
    width: 25%;
    height: auto;
    margin: 2%;
    border-radius: 0.5vw;
  }

  #projetID {
    font-size: 50%;
    color: rgb(128, 3, 3);
    margin: 0;
    margin-top: 2%;
    font-family: gothicb, "Roboto", "sans-serif";
    letter-spacing: -0.04rem;
  }

  #fullCard h4 {
    font-size: 50%;
    color: rgb(50, 50, 50);
    margin: 0;
    margin-top: 2%;
    font-family: gothicb, "Roboto", "sans-serif";
    text-align: left;
    padding-left: 10%;
  }
  #fullCard p {
    font-size: 45%;
    margin: 2%;
    padding-left: 0%;
    padding-right: 0%;
    text-align: left;
  }

  .links {
    position: absolute;
    display: flex;
    width: 110%;
    height: 100%;
    align-items: flex-end;
    justify-content: center;
    gap: 2%;
  }

  .links img {
    scale: 0.8;
    width: 3vw;
    transform: translate(-10vw, -10vw);
  }

  .fullcardImg {
    margin: 0%;
    width: 20%;
    height: auto;
  }
}

