@font-face {
  font-family: CenturyGothic;
  src: url(./assets/font/CenturyGothic.ttf);
}

@font-face {
  font-family: gothicb;
  src: url(./assets/font/gothicb.ttf);
}

:root {
  --fg: #17181c;
  --shade1: #727274;
  --shade2: #cccdd1;
  --shade3: #f3f4f8;
  --shade4: #ffffff;
  --dur1: 1s;
  --dur2: 6s;
  font-family: CenturyGothic, "Roboto", "sans-serif";
}

body {
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  background-size: 300vw 300vw;
  background-image: linear-gradient(
    -45deg,
    rgb(206, 201, 145) 0%,
    rgb(120, 136, 216) 25%,
    rgb(215, 125, 125) 51%,
    rgb(255, 255, 255) 100%
  );
  animation: AnimateBG 20s ease infinite;
}

@keyframes AnimateBG {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.background {
  background-image: url(./assets/img/desk.jpg);
  background-size: cover;
  opacity: 0.4;
  width: 100vw;
  height: 100vh;
  position: absolute;
  position: fixed;
  background-attachment: fixed;
}

.App {
  align-items: center;
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  position: relative;
}

* {
  font-family: CenturyGothic, "Roboto", "sans-serif";
}

/*-------------- CARDS -------------- */
.allCards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 60vw;
  z-index: 1;
}

#fullCard {
  margin-right: 1vw;
  rotate: 0deg;
  height: auto;
  width: 12vw;
  display: flex;
  flex-direction: column;
  background-color: rgb(229, 229, 229);
  border-radius: 1vw;
  box-shadow: 1vh 2vh 5vh rgb(105, 105, 105);
  transform: translate(0px, 100vh);
  opacity: 0;
}

#video {
  clip-path: inset(0.1vw 0px);
  margin: auto;
  width: auto;
  height: 13.2vw;
  margin-top: 1vw;
  border-radius: 0.4vw;
  background-image: url(./assets/img/loading.gif);
  background-size: 2vw;
  background-repeat: no-repeat;
  background-position: 20% 60%;
}

#projetID {
  font-size: 0.6vw;
  color: rgb(128, 3, 3);
  margin: 0;
  margin-top: 0.5vw;
  font-family: gothicb, "Roboto", "sans-serif";
  text-align: left;
  letter-spacing: -0.04rem;
}

#fullCard h4 {
  font-size: 0.7vw;
  color: var(--fg);
  margin: 0;
  margin-top: 1vw;
  font-family: gothicb, "Roboto", "sans-serif";
  text-align: left;
  padding-left: 1vw;
}
#fullCard p {
  font-size: 0.55vw;
  margin: 0;
  padding-left: 1vw;
  padding-right: 1vw;
  text-align: left;
  line-height: normal;
  height: 10vw;
  color: var(--fg);
}

.links {
  display: flex;
  padding-bottom: 2vw;
  align-items: flex-end;
  justify-content: center;
  gap: 10%;
}

.links img {
  scale: 0.8;
  width: 1.5vw;
}

/*-------------- TITLE BAR -------------- */

.titleBar {
  top: 0;
  opacity: 0;
  width: auto;
  height: 15vh;
  background-color: rgb(235, 235, 235, 0.8);
  border-bottom-left-radius: 1vw;
  border-bottom-right-radius: 1vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-size: cover;
  padding-inline: 4vw;
}

.titleBar h1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  font-size: 1.1vw;
  margin: 0;
  margin-top: 0.5vw;
}

.nameAnim {
  position: absolute;
  transform: translate(10%, -50%);
  opacity: 0;
  scale: 1.5;
  z-index: 3;
}

.titleBar p {
  font-size: 0.8vw;
  margin-top: 0;
  color: rgb(73, 114, 165);
  font-family: gothicb, "Roboto", "sans-serif";
  text-align: center;
}

.titleBar img {
  width: 1.3vw;
  margin-top: 1.5vh;
  filter: grayscale(40%);
}

.logos {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5vw;
}

.titleBar a:link {
  text-decoration: none;
  color: rgb(50, 50, 50);
}

.titleBar a:visited {
  text-decoration: none;
  color: rgb(50, 50, 50);
}

.titleBar a:active {
  text-decoration: none;
  color: rgb(50, 50, 50);
}

.eachLogo {
  opacity: 1;
}


/* // ----------------- MEDIA QUERIES -----------------// */

@media screen and (max-width: 800px) {
  body {
    overflow-y: auto;
    background-size: 100vw 1500vh;
    z-index: 0;
  }
  .background {
    background-attachment: fixed;
    background-image: url(./assets/img/desk.jpg);
    background-size: cover;
    opacity: 0.4;
    width: 100vw;
    height: 100vh;
    position: fixed;
  }

  .App {
    align-items: center;
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: auto;
    justify-content: center;
  }

  .titleBar {
    opacity: 1;
    width: 70vw;
    height: 15vh;
    box-shadow: none;
    margin: 0;
    margin-bottom: 2vh;
    background-size: cover;
    border-bottom-left-radius: 3vw;
    border-bottom-right-radius: 3vw;
  }
  .titleBar h1 {
    font-size: 100%;
  }

  .titleBar p {
    font-size: 90%;
  }
  .titleBar img {
    width: 3vw;
    margin-top: 1vh;
    filter: sepia(20%);
    margin-bottom: 1vh;
  }
  #fullCard {
    position: initial;
    margin-right: 0vw;
    rotate: -5deg;
    width: 60vw;
    height: auto;
    background-color: rgba(229, 229, 229, 0.8);
    border-radius: 5vw;
    box-shadow: 1vh 2vh 5vh rgb(105, 105, 105);
    transform: translate(0, 0);
    opacity: 1;
  }

  .allCards {
    align-items: center;
    justify-content: flex-start;
    flex-wrap: nowrap;
    height: auto;
    display: flex;
    flex-direction: column;
    gap: 10vh;
  }

  #video {
    clip-path: inset(0.8vw 0);
    margin-left: 0;
    width: auto;
    height: 65vw;
    margin: 2vw;
    border-radius: 0.5vw;
    background-position: center;
    background-size: 10vw;
  }

  #projetID {
    font-size: 3vw;
    color: rgb(128, 3, 3);
    margin: 0;
    margin-top: 1vw;
    text-align: left;
    margin-left: 0vw;
    font-family: gothicb, "Roboto", "sans-serif";
    letter-spacing: -0.04rem;
  }

  #fullCard h4 {
    font-size: 3.5vw;
    color: rgb(50, 50, 50);
    margin: 0;
    margin-top: 2vw;
    font-family: gothicb, "Roboto", "sans-serif";
    text-align: left;
    padding-left: 5vw;
  }

  #fullCard p {
    font-size: 3vw;
    margin: 2vw;
    padding-left: 3vw;
    padding-right: 3vw;
    height: auto;
  }

  .links {
    opacity: 1;
  }

  .links img {
    scale: 1;
    width: 5vw;
    padding-bottom: 2vh;
  }
}
